/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme_dark {
  --accent-color: #ff0070;
  --color-for-shadow: #ff0070;
  --main-font: "IBM Plex mono";
  --title-color: #000028;
  --text-color: #f1b2ce;
  --main-color-for-title: #db00ff;
  --background-color: #000028;
  --color-for-button: #ff0070;
  --hover: rgba(255, 0, 112, 0.4);
  --section-title: #ff0070;
  --color-for-decor-items: #ff0070;
}
@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --color-for-shadow: #ff0070;
    --main-font: "IBM Plex mono";
    --title-color: #000028;
    --text-color: #f1b2ce;
    --main-color-for-title: #db00ff;
    --background-color: #000028;
    --color-for-button: #ff0070;
    --hover: rgba(255, 0, 112, 0.4);
    --section-title: #ff0070;
    --color-for-decor-items: #ff0070;
  }

  .page.theme_dark {
    background-image: url(/images/cover-image-dark.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-color: var(--background-color);
  --accent-color: #ff0070;
  --color-for-shadow: #ff0070;
  --main-font: "IBM Plex mono";
  --title-color: #000028;
  --text-color: #f1b2ce;
  --main-color-for-title: #db00ff;
  --background-color: #000028;
  --hover: rgba(255, 0, 112, 0.4);
  --color-for-button: #ff0070;
  --section-title: #ff0070;
  --color-for-decor-items: #ff0070;
}

.main__title {
  text-shadow: 4px 4px 0px var(--color-for-shadow, #ff0070);
  color: var(--main-color-for-title, #db00ff);
}

.text__title {
  background-color: var(--accent-color, #ff0070);
  color: var(--title-color, #000028);
}

.title-decor {
  color: var(--title-color, #000028);
}

.section__title {
  color: var(--section-title, #ff0070);
}

.content__paragraph {
  color: var(--text-color, #f1b2ce);
}

.header__theme-menu-button {
  color: var(--color-for-button, #ff0070);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--color-for-button, #ff0070);
}

.decorated-item__circle {
  background-color: var(--accent-color, #ff0070);
  filter: drop-shadow(0px 0px 4px #ff0070);
}

.header::before,
.footer-section::before,
.header::after,
.footer-section::after {
  color: var(--color-for-decor-items, #ff0070);
}
