/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root {
  --title-color-for-lt: #353430;
  --background-color-for-lt: #FFEEF7;
}
.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  
}
.decorated-zone {
  background-image: url(/images/cover-image-light.png);
  /* height: 768px; */
  width: calc(100% + 40px);
  min-height: 648px;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  margin-top: -20px;
  margin-left: -20px;
  box-sizing:border-box;
}