/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme_light {
  --color-for-shadow: #FF0070;
  --accent-color: #ff8dcb;
  --main-color-for-title: #FFC2E6;
  --text-color: #353430;
  --hover: rgba(50, 49, 45, 0.40);
  --background-color:#FFF1F7;
  --title-color:#353430;
  --color-for-button: #353430;
}

@media (prefers-color-scheme: light) {
  :root{
    --color-for-shadow: #FF0070;
    --accent-color: #ff8dcb;
    --main-color-for-title: #FFC2E6;
    --text-color: #353430;
    --hover: rgba(50, 49, 45, 0.40);
    --background-color: #FFF1F7;
    --color-for-button: #353430;
}
  }

.page.theme_light {
  background-image: url(/images/cover-image-light.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  --color-for-shadow: #FF0070;
  --accent-color: #ff8dcb;
  --main-color-for-title: #FFC2E6;
  --text-color: #353430;
  --hover: rgba(50, 49, 45, 0.40);
  --background-color: #FFF1F7;
  background-color: var(--background-color);
  --color-for-button: #353430;
}
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

.main__title {
  text-shadow: 4px 4px 0px var(--color-for-shadow,  #FF0070);
  color: var(--main-color-for-title, #FFC2E6);
}

.page.theme_light .header {
  background-image: url(/images/cover-image-light.png);
  background-position: center;
  block-size: center;
}

.text__title {
  background-color: var(--accent-color,#ff8dcb);
  color: var(--text-color, #353430);
}

.title-decor {
  color: var(--title-color, #353430);
}

.content__paragraph {
  color: var(--text-color, #353430);
}

.header__theme-menu-button {
  color: var(--color-for-button, #353430)
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--color-for-button,#353430);
}

.page .theme_light .decorated-item__circle {
  background-color: var(--background-color, #FFF1F7);
}