/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme_light {
  --color-for-shadow: #ff8dcb;
  --accent-color: #ff8dcb;
  --main-color-for-title: #ffc2e6;
  --text-color: #353430;
  --hover: rgba(50, 49, 45, 0.4);
  --background-color: #fff1f7;
  --title-color: #353430;
  --color-for-button: #353430;
  --section-title: #353430;
  --color-for-decor-items: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-for-shadow: #ff8dcb;
    --accent-color: #ff8dcb;
    --main-color-for-title: #ffc2e6;
    --text-color: #353430;
    --hover: rgba(50, 49, 45, 0.4);
    --background-color: #fff1f7;
    --title-color: #353430;
    --color-for-button: #353430;
    --section-title: #353430;
    --color-for-decor-items: #353430;
  }

  .page.theme_light {
    background-color: var(--background-color, #fff1f7);
    background-image: url(/images/cover-image-light.png);
    background: lightgray 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .page.theme_auto {
    background-color: var(--background-color, #fff1f7);
    background-image: url(/images/cover-image-light.png);
    background: lightgray 50%;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.page.theme_light {
  background-color: var(--background-color, #fff1f7);
  background-image: url(/images/cover-image-light.png);
  background: lightgray 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  --color-for-shadow: #ff8dcb;
  --accent-color: #ff8dcb;
  --main-color-for-title: #ffc2e6;
  --text-color: #353430;
  --hover: rgba(50, 49, 45, 0.4);
  --background-color: #fff1f7;
  --title-color: #353430;
  --color-for-button: #353430;
  --section-title: #353430;
  --color-for-decor-items: #353430;
}
/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

.main__title {
  text-shadow: 4px 4px 0px var(--color-for-shadow, #ff8dcb);
  color: var(--main-color-for-title, #ffc2e6);
}

.text__title {
  background-color: var(--accent-color, #ff8dcb);
  color: var(--text-color, #353430);
}

.title-decor {
  color: var(--title-color, #353430);
}

.content__paragraph {
  color: var(--text-color, #353430);
}

.header__theme-menu-button {
  color: var(--color-for-button, #353430);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--color-for-button, #353430);
}

.theme_light .decorated-item__text {
  display: none;
}

.theme_light .decorated-item__circle {
  display: none;
}

.section__title {
  color: var(--section-title, #353430);
}

.header::before,
.footer-section::before,
.header::after,
.footer-section::after {
  color: var(--color-for-decor-items, #353430);
}
