/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

  font-family: var(--main-font, monospace);
  font-size: 18px;
  max-width: 1024px;
  padding: clamp(
    10px,
    10px + (20 - 10) * ((100vw - 355px) / (1024 - 355)),
    20px
  );
  margin: 0 auto;
  box-sizing: border-box;
  /* background-image: url(/images/cover-image.png); */
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

/* .page.theme-auto .header {
  background-image: url(/images/cover-image.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

.header {
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  grid-template-rows: repeat(3, 1fr);
  /* align-items: start; */
  padding: 20px;
  align-items: stretch;
  min-height: 668px;
  height: 100vh;
  /* align-items: center;
  justify-items: center; */
}

@media (min-width: 375px) {
  .header  {
    height: 668px;;
  }
}

@media (max-width: 768px) {
  .header  {
    height: 1024px;;
  }
}

@media (max-width: 1024px) {
  .header  {
    height: 768px;;
  }
}

.decorated-zone {
  /* background-image: url(/images/cover-image.png); */
  /* height: 768px; */
  /* width: calc(100% + 40px); */
  min-height: 648px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin-top: -20px;
  margin-left: -40px;
  box-sizing: border-box;
  margin-bottom: 20px;
  
}

/* декоративный элемент */
.decorated-item {
  display: flex;
  position: relative;
  color: #ff0070;
}

.decorated-item::before {
  position: absolute;
  content: "";
  display: block;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  text-transform: capitalize;
  margin-left: 3px;
 
}

.decorated-item::after {
  position: absolute;
  content: "";
  display: block;
  /* display: inline-block; */
  bottom: -653px;
  left: -974px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color, #ff0070);
}

/* .decorated-item::after { */
  /* color: var(--accent-color);
  content: "REC";
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; */
  
/* } */

/* .decorated-item::after {
  content: "";
  /* display: inline-block; */
/* width: 9px;
  height: 9px;
  top: 50%;
  left: 50%;
  flex-shrink: 0;
  color: #FF0070;
  filter: drop-shadow(0px 0px 4px #FF0070);
  position: absolute;
}  */

.decorated-block {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  
}

/* меню */
.header__theme-menu {
  display: flex;
  margin-right: 316px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 23px;
  color: var(--accent-color);
  text-align: center;
  font-style: normal;
  font-weight: 400;
}

/* кнопки */
.header__theme-menu-button{
  width: 70px;
  height: 23px;
  padding: 0 13px;
  background-color: inherit;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  text-decoration: underline;
}

/* заголовки в секции header */

.heading {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
}

.main__title {
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  text-shadow: 4px 4px 0px var(--accent-color);
  color: var(--main-color-for-title);
  line-height: 82.5%;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  /* min-width: 759px; */
  text-align: center;
  margin-left: 0;
}

@media (min-width: 375px) and (max-width: 768px) {
  .main__title {
    font-size: (7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  }
} 

@media (min-width: 768px) and (max-width: 1024px) {
  .main__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)
  }
}

.box-title {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* align-items: flex-end; */
  align-items: center;
}

.box-text {
  margin-left: auto;
  width: 491px;
  /* margin-top: 114px; */
  display: flex;
  align-items: center;
}

/* .header .main__title {
  width: 100%;
  max-width: 100%;
  padding-left: 0px;
}

@media (max-width: 768px) {
  .header .main__title {
    padding-left: 10px;
  }
  .header .box-title .text__title {
    margin: 0 10px;
  }
}

.box-title {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.header .box-title .text__title {
  font-weight: 700;
  margin-bottom: 0px;
  width: clamp(355px, 100%, 491px);
  margin-top: calc(114px + (162 - 114) * ((100vw - 355px) / (1024 - 355)));
}

@media (min-width: 768px) {
  .header .text__title {
    margin-top: calc(
      162px + (114 - 162) * ((100vw - 355px) / (1024 - 355)));
  }
  .header .box-title .text__title {
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .header .text__title {
    margin-top: 114px;
  }
} */

 .section__title {
  color: var(--accent-color);
  /* width: 315px; */
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  box-sizing: border-box;
  max-width: 100%;
}

/* ---------------------первая секция--------------------- */
.content-section {
  margin-top: calc(40px + (60 - 40) * (100vw - 375px) / (1024 - 375));
  grid-template-areas: "section__title content__text-block content__text-block";
  max-width: 100%;
  min-height: 508px;
  box-sizing: border-box;
}

@media (max-width: 375px) {
  .content-section {
    height: 949px;
  }
}

@media (min-width: 768px) {
  .content-section {
    height: 648px;
  }
}

@media (max-width: 1024px) {
  .content-section {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .section {
    display: flex;
    flex-direction: column;
  }
}

.content-section__title {
  grid-column: span 1;
  grid-area: section__title;
  max-width: 100%;
}

.content__text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: span 2;
  grid-area: content__text-block;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
}

/* .attention__text-block {
  flex-wrap: wrap;
}


/* @media (min-width: 376px) and (max-width: 768px) {
  .content__text-block {
    width: 351px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content__text-block {
    width: 472px;
  }
} */

.text__title {
  grid-column: span 1;
  grid-area: text__title;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 100%;
}

.text__title:last-child {
  margin-bottom: 20px;
}

.title-decor {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  box-sizing: border-box;
  color: var(--title-color);
}

.content__paragraph {
  grid-area: content__paragraph;
  color: var(--text-color);
  overflow-wrap: break-word;
  /* min-width: 315px; */
}

/* -------------------вторая секция --------------------------*/
.attention-section {
  margin-top: calc(50px + (80 - 50) * (100vw - 375px) / (1024 - 375));
  grid-template-areas:
    "section__title . . "
    "text__title . ."
    "content__paragraph . .";
  /* min-height: 498px; */
}

.attention__text-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  grid-column: span 3;
  width: 100%;
  box-sizing: border-box;
}
@media (max-width: 821px) {
  .attention__text-block {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .content__paragraph {
    grid-column: span 1;
  }
  .content__paragraph_block {
    margin-right: 0; /* Избегайте отступов справа */
  }
  .attention__text-block {
     flex-wrap: wrap;
}
}
.attention__text-block .content__paragraph_block {
  width: 100%;
}


.content__paragraph_block {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 100%;
  box-sizing: border-box;
}
.content__paragraph_block:last-child {
  margin-right: 0;
}

.content__paragraph {
  /* grid-column: span 1; */
  margin-bottom: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

/* .attention__text-block {
  flex-wrap: wrap;
} */

/* --------------треттья секция -------------------- */
.advice-section {
  margin-top: calc(50px + (80 - 50) * (100vw - 375px) / (1024 - 375));
  grid-template-areas: "section__title content__text-block content__text-block";
  /* min-height: 1015px; */
}

@media (min-width: 355px) {
  .advice-section {
    max-height: 1737px;
  }
}

@media (max-width: 767px) {
  .advice-section {
    display: block;
  }
}

@media (min-width: 768px) {
  .advice-section {
    max-height: 1296px;
  }
}

@media (min-width: 1024px) {
  .advice-section {
    max-height: 1015px;
  }
}

.advice-section .section__title {
  margin-bottom: 20px;
}

.advice-section .content__text-block .text__title:first-child {
  margin-bottom: 20px;
}

.advice-section .content__text-block .text__title {
  font-weight: 400;
}
.advice-section .content__text-block .text__title:first-child {
  font-weight: 700;
}

/* -------------------четвертая секция----------------- */
.pic-section {
  box-sizing: border-box;
  height: 1091px;
  min-height: 823px;
  margin-top: calc(50px + (80 - 50) * (100vw - 375px) / (1024 - 375));
}

@media (max-width: 375px) {
  .pic-section {
    height: 1400px; /* Высота для экрана 375x668px */
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .pic-section {
    height: 100%; /* Высота для экрана 768x1024px */
  }
  .portfolio_pics {
    gap: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .pic-section {
    height: 100%;
  }
  .portfolio_pics {
    gap: 20px;
  }
}

.portfolio_pics {
  display: grid;
  box-sizing: border-box;
  gap: clamp(10px, 5vw, 20px);
}

@media (max-width: 767px) {
  .portfolio_pics {
    display: flex;
    flex-direction: column;
  }

  .portfolio_pics div {
    width: 100%;
    gap: 10px;
  }
}

.portfolio_pics div:nth-child(1) {
  grid-column: 1/3;
}

.portfolio_pics div:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/3;
}

.portfolio_pics div:nth-child(3) {
  grid-column: 1/1;
  grid-row: 2/4;
}

.portfolio_pics div:nth-child(5) {
  grid-column: 2/4; /*или 2/4*/
  grid-row: 3/4;
}

.portfolio_pics div:nth-child(4) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----------подвал-------------- */
.footer-section {
  min-height: 667px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 668px;
  height: 100vh;
}

@media (min-width: 375px) {
  .footer-section {
    height: 647px;
    padding: 10px;
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  .footer-section {
    height: 984px;
    padding: 20px;
    margin-top: 60px;
  }
}

@media (max-width: 1024px) {
  .footer-section {
    height: 728px;
  }
}

.footer {
  text-align: center;
}
