/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--main-font, monospace);
  font-size: 18px;

  box-sizing: border-box;
  /* background-image: url(/images/cover-image.png); */
  /*  */
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
/* .container {
  max-width: 1024px;
  margin: 0 auto;
} */

.header,
.footer-section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  grid-template-rows: repeat(3, 1fr);
  /* align-items: start; */
  /* padding: 20px; */

  align-items: stretch;
  min-height: 668px;
  height: 100vh;
  /* padding-top: clamp(
    10px,
    10px + (20 - 10) * ((100vw - 355px) / (1024 - 355)),
    20px
  ); */
  padding: clamp(
    10px,
    10px + (20 - 10) * ((100vw - 375px) / (1024 - 375)),
    20px
  );
  /* align-items: center;
  justify-items: center; */
}

@media (min-width: 375px) {
  .header {
    height: 668px;
  }
}

@media (max-width: 768px) {
  .header {
    height: 1024px;
  }
}

@media (max-width: 1024px) {
  .header {
    height: 768px;
  }
}

.decorated-zone {
  /* background-image: url(/images/cover-image.png); */
  /* height: 768px; */
  /* width: calc(100% + 40px); */
  min-height: 648px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  /* margin-top: -20px;
  margin-left: -40px; */
  margin-bottom: 20px;
}

/* декоративный элемент */
.decorated-item {
  display: flex;
  position: absolute;
  /* margin-left: 3px; */
  align-items: center;
  right: 20px;
  margin-right: 9px;
}

.decorated-item__text {
  text-transform: capitalize;
  color: #ff0070;
  /* content: "REC"; */
}

.header::before,
.footer-section::before {
  position: absolute;
  content: "";
  display: flex;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.header::after,
.footer-section::after {
  position: absolute;
  display: flex;
  content: "";

  /* display: inline-block; */
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color, #ff0070);
}

.decorated-item__circle {
  width: 9px;
  height: 9px;
  flex-shrink: 0;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px #ff0070);
  margin-left: 10px;
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.decorated-block {
  display: flex;
  align-items: start;
  justify-content: center;
}

/* меню */
.header__theme-menu {
  display: flex;
  /* margin-right: 316px; */
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 23px;
  color: var(--accent-color);
  text-align: center;
  font-style: normal;
  font-weight: 400;
}

/* кнопки */
.header__theme-menu-button {
  width: 70px;
  height: 23px;
  padding: 0 13px;
  background-color: inherit;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--color-for-button);
}

.header__theme-menu-button:focus {
  text-decoration: underline;
}

.theme_auto .decorated-item__text {
  display: none;
}
.theme_auto .decorated-item__circle {
  display: none;
}

/* .header__theme-menu-button:focus-visible {

} */

.theme_auto .decorated-item__text {
  display: none;
}

.theme_auto .decorated-item__circle {
  display: none;
}

/* заголовки в секции header */

.heading {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
}

.main__title {
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  text-shadow: 4px 4px 0px var(--accent-color);
  color: var(--main-color-for-title);
  line-height: 82.5%;
  font-style: normal;
  font-weight: 700;
  /* text-align: left; */
  /* min-width: 759px; */
  /* text-align: center; */
  margin-left: 0;
}

@media (min-width: 375px) and (max-width: 768px) {
  .main__title {
    font-size: (7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.box-title {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* align-items: flex-end; */
  align-items: center;
  margin-left: -20px;
}

.box-text {
  margin-left: auto;
  width: 491px;
  display: flex;
  align-items: center;
}

.section__title {
  color: var(--accent-color);
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  box-sizing: border-box;
  max-width: 100%;
  padding-left: clamp(
    10px,
    10px + (20 - 10) * ((100vw - 375px) / (1024 - 375)),
    20px
  );
  padding-right: clamp(
    10px,
    10px + (20 - 10) * ((100vw - 375px) / (1024 - 375)),
    20px
  );
}

/* ---------------------первая секция--------------------- */
.content-section {
  margin-top: calc(40px + (60 - 40) * (100vw - 375px) / (1024 - 375));
  grid-template-areas: "section__title content__text-block content__text-block";
  max-width: 100%;
  min-height: 508px;
  box-sizing: border-box;
}

/* @media (max-width: 375px) {
  .content-section {
    height: 949px;
  }
} */

/* @media (max-width: 768px) {
  .content-section {
    height: 648px;
  }
} */

/* @media (max-width: 1024px) {
  .content-section {
    height: 100%;
  }
} */

@media (max-width: 767px) {
  .section {
    display: flex;
    flex-direction: column;
  }
}

.content-section__title {
  grid-column: span 1;
  grid-area: section__title;
  max-width: 100%;
}

.content__text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: span 2;
  grid-area: content__text-block;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
}

.text__title {
  grid-column: span 1;
  grid-area: text__title;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 100%;
}

.text__title:last-child {
  margin-bottom: 20px;
}

.title-decor {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  box-sizing: border-box;
  color: var(--title-color);
}

.content__paragraph {
  grid-area: content__paragraph;
  color: var(--text-color);
  overflow-wrap: break-word;
  /* min-width: 315px; */
  margin-bottom: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

/* .attention__text-block .content__paragraph_block .content__paragraph:last-child {
  margin-bottom: 20px;
} */

/* .advice-section .content__text-block .text__title:first-child {
  margin-bottom: 20px;
} */

.advice-section .content__text-block .title__content {
  margin-bottom: 10px;
}

.content-section .content__text-block .content__paragraph:last-child {
  margin-bottom: 0;
}
/* .content-section .content__text-block .content__paragraph:last-child {
  margin-bottom: 0;
} */

/* .attention__text-block .content__paragraph_block .content__paragraph:last-child {
  margin-bottom: 0;
} */

/* .advice-section .content__text-block .content__paragraph {
  margin-bottom: 0px;
} */

/* .advice-section .content__text-block .text__title:last-child {
  margin-bottom: 0;
}

.advice-section .content__text-block .content__paragraph:last-child {
  margin-bottom: 0;
} */

.link {
  text-shadow: 2px 2px 0px var(--accent-color);
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.link:focus-visible {
  outline: 1 px solid var(--accent-color);
}

/* -------------------вторая секция --------------------------*/
.attention-section {
  margin-top: 80px;
  grid-template-areas:
    "section__title . . "
    "text__title . ."
    "content__paragraph . .";
  /* min-height: 498px; */
}

.attention__text-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  grid-column: span 3;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 375px) and (max-width: 768px) {
  .attention__text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width: 100%; */
    box-sizing: border-box;
  }

  /* .attention__text-block .content__paragraph {
    margin-bottom: 20px;
  }

  .attention__text-block .content__paragraph:last-child {
    margin-bottom: 0;
  } */

}

@media (max-width: 375px) {
  .attention-section {
    margin-top: 50px;
  }
}

.attention__text-block .content__paragraph_block {
  width: 100%;
  margin-right: 20px;
}
.attention__text-block .content__paragraph_block:last-child {
  margin-right: 0;
}

/* .content__paragraph_block {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 100%;
  box-sizing: border-box;
}
.content__paragraph_block:last-child {
  margin-right: 0;
} */

@media (min-width:768px) {
  .attention__text-block .content__paragraph {
    margin-bottom: 0;
}
  
}
/* .attention__text-block .content__paragraph {
  
} */

/* .attention-section .attention__text-block.content__paragraph_block p {
  margin-bottom: 20px;
} */
/* .attention-section .attention__text-block .content__paragraph_block p:last-child {
  margin-bottom: 20px;
} */

/* .attention-section .content__paragraph_block .content__paragraph {
  margin-bottom: 20px;
}

.attention-section .attention__text-block .content__paragraph_block .content__paragraph:last-child {
  margin-bottom: 0;
} */

/* .attention__text-block {
  flex-wrap: wrap;
} */

/* --------------треттья секция -------------------- */
.advice-section {
  margin-top: 80px;
  grid-template-areas: "section__title content__text-block content__text-block";
  /* min-height: 1015px; */
}

@media (max-width: 375px) {
  .advice-section {
    /* min-height: 1015px; */
    margin-top: 50px;
  }
}

.advice-section .content__text-block h3:first-child {
  margin-bottom: 20px;
}

.advice-section .content__text-block .content__paragraph:last-child {
  margin-bottom: 0;
}

.advice-section .section__title {
  margin-bottom: 20px;
}

/* .advice-section .content__text-block .text__title {
  margin-bottom: 20px;
} */

.advice-section .content__text-block .text__title:last-child {
  margin-bottom: 0;
}

.advice-section .content__text-block .text__title {
  font-weight: 400;
}
.advice-section .content__text-block .text__title:first-child {
  font-weight: 700;
}

/* -------------------четвертая секция----------------- */
.portfolio_pics {
  box-sizing: border-box;
  /* height: 1091px;
  min-height: 823px; */
  margin-top: 80px;
  grid-template-areas: "section__title section__title section__title";
}

.portfolio_pics h3 {
  grid-column: span 1;
  grid-column: 1/4;
  grid-row: 1;
}

@media (max-width: 375px) {
  .pic-section {
    height: 100%;
    margin-top: 50px;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .pic-section {
    height: 100%; /* Высота для экрана 768x1024px */
  }
  .portfolio_pics {
    gap: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .pic-section {
    height: 100%;
  }
  .portfolio_pics {
    gap: 20px;
  }
}

.portfolio_pics h3 {
  margin-bottom: 0;
}

.portfolio_pics {
  display: grid;
  box-sizing: border-box;
  gap: clamp(10px, 5vw, 20px);
}

@media (max-width: 767px) {
  .portfolio_pics {
    display: flex;
    flex-direction: column;
  }

  .portfolio_pics div {
    width: 100%;
    gap: 10px;
  }
}

/* .portfolio_pics div:nth-child(1) {
  grid-column: 1/3;
  grid-row: 2/3;
} */

.portfolio_pics div:nth-child(2) {
  grid-column: 1/3;
  grid-row: 2/3;
}

.portfolio_pics div:nth-child(3) {
  grid-column: 3/4;
  grid-row: 2/4;
}

.portfolio_pics div:nth-child(4) {
  grid-column: 1/1; /*или 2/4*/
  grid-row: 3/5;
}

.portfolio_pics div:nth-child(5) {
  grid-column: 2/2;
  grid-row: 3/4;
}

.portfolio_pics div:nth-child(6) {
  grid-column: 2/4;
  grid-row: 4/4;
}

.pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----------подвал-------------- */
.footer-section {
  min-height: 667px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 668px;
  height: 100vh;
}

.footer {
  text-align: center;
}
