/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --main-font: 'IBM Plex mono';
  --title-color: #000028;
  --text-color: #F1B2CE;
  --main-color-for-title: #DB00FF;
  /* --cover-img: url('/images/cover-image.png'); */
  --hover: rgba(255, 0, 112, 0.40);
  --color-for-button:#FF0070;
  background-image: url(/images/)
}